<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Vue Traning</title>
</head>
<body>
    <div id="container">

        <div id="madal-view">
            <div class="madalBg" v-if="madalCallback" v-on:click.self="closeMadal" >            
                <div class="madalView">
                    <button v-on:click="closeMadal" class="madalCloseBtn"><b>x</b></button>
                    <div>
                        <div 
                            v-bind:is="madalViewCurrent" 
                            v-bind:propsform="madalFormInputs" 
                            v-bind:propsfunc="validHandler" 
                            v-on:handlerclear="clearContent"
                            v-on:handlersubmit="submitMadalHandle"
                            v-bind:reqlist="dataListRequests"
                            ></div>
                    </div>
                </div>
            </div>
            <div class="madalBg" v-if="madalMessage" v-on:click.self="closeMadalMessage" > 
                <div class="madalViewMessage">
                    <button v-on:click="closeMadalMessage" class="madalCloseBtn">x</button>
                    <span>Успешно отправлено</span>
                </div>
            </div>
        </div>

        <div id="header" class="header">
            <h3 class="headerH3">Vue Traning</h3>
        </div>
        <div id="content">
            <div id="callback-app">
                <button type="submit" v-on:click.prevent="openMadalCallback('form-request')">Обратная связь</button>
                <button type="submit" v-on:click.prevent="openMadalCallback('list-request', onloadListRequests)">Список запросов</button>
            </div>
        </div>
        <div id="footer">

        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>